@model Web.Models.Data;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.text</h1>
<ul>
    <li>Get text reply with "/Data/GetText"</li>
    <li>Get JSON reply with "/Data/GetJsonData"</li>
    <li>Get HTML reply with "/Data/GetHtml"</li>
    <li>Get View reply with "/Data/GetView"</li>

</ul>